body {
    max-width: 900px;
    margin: auto auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 1.2em;
    line-height: 1.6em;
    background-color:rgb(19, 56, 19);
    color: white;
}