body {
    max-width: 900px;
    margin: auto auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 1.2em;
    line-height: 1.6em;
    background-color:rgb(19, 56, 19);
}

main {
    background-color: rgb(250, 249, 249);
    padding: 2em;
    margin-top: 2em;
}

main table th {
    text-decoration-line: underline;
    font-weight: 300;
}

main table td {
    border-bottom: 2px solid gainsboro;
}

main table tr {
}